* {
    display: block;
    box-sizing: border-box;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
p {
    margin: auto;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-family: Times, serif;
    font-weight: bold;
    margin-bottom: 10px;
    height: 0;
    width: 400px;
}
.screen {
    direction: rtl;  
    max-width: 100%;  
}

.calculator {
    margin: auto;
    max-width: 400px;
    margin-top: 40px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}
button:hover {
    background-color: rgba(189, 189, 189, 0.755);
}
.screen {
    display: flex;
    background-color: black;
    width: 400px;
    height: 80px;
    color: white;
    align-items: flex-end;
}
.keys-1 {
    display: flex;
}
.keys-2 {
    display: flex;
}
.keys-3 {
    display: flex;
}
.keys-4 {
    display: flex;
}
.zero {
    width: 200px;
    margin: 0px;
}
.divide, .multiply, .minus, .addition, .equal {
    background-color: #df974c;
    color: white;
}
.divide:hover,.multiply:hover,.minus:hover,.addition:hover,.equal:hover {
    background-color: #8d6528e7;
    color: white;
}
.divide, .eight, .five, .two, .multiply, .minus,.addition,.equal {
    border-left: 2px solid black;
}
.clear-btn {
    width: 200px;
    border: 1px solid rgb(7, 7, 7);
}